

<form action="/todos/{{todoItem._id}}?_method=PUT" method="POST" style="display:inline;" style="display:inline;">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" name="isDone" {{#if todoItem.isDone}} checked {{/if}} >
            </div>
        </div>

        <input type="text" class="form-control" placeholder="name" name="name" value="{{todoItem.name}}" >
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Save</button>
        </div>

    </div>

</form>


