

<form action="/todos" method="POST" style="display:inline;">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="enter your todo" name="name">
        <div class="input-group-append">
            <button class="btn btn-success" >Create</button>
        </div>
    </div>

</form>
